/* ===== Transducer Font ===== */
@font-face {
  font-family: "transducer";
  src: url("/fonts/transducer.woff2") format("woff2"),
       url("/fonts/transducer.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* ===== Global Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: "transducer", sans-serif;
  color: #2F2F2F;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Fix video flicker */
video {
  transform: none !important;
  will-change: auto !important;
}

body {
  transform: translateZ(0);
  backface-visibility: hidden;
}

iframe {
  position: fixed !important;
  z-index: 999999 !important;
}
